.quiz {
    width: 60%;
    margin: 0 auto;
    padding: 2%;

    h1 {
        text-align: center;
        padding-bottom: 5%;
    }

    form{
        input{
            margin: 0 1%;
        }
    }

    .reply {
        padding-top: 2%;
    }
}